<!DOCTYPE html>
<html>

<head>
  <title>boat stuff</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
        <div class="navbar-fixed">
          <nav>
            <div class="nav-wrapper">
              <a href="/boats" class="brand-logo left">Boat list</a>
              <a href="/boats/new" class="brand-logo center">Add new boat</a>
              <ul class="right">
                <li>
                  <% if (user) { %>
                      <a href="/logout"><i class="material-icons right">trending_flat</i>Log Out</a>
                  <% } else { %>
                      <a href="/auth/google"><i class="material-icons right">vpn_key</i>Login with Google</a>
                  <% } %>
                </li>
              </ul>
            </div>
          </nav>
        </div>

  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Boat Details</span>
              <p><%= boat.brand %></p>
              <p><%= boat.length %></p>
              <p><%= boat.draft %></p>
            </div>
            <div class="card-action">
              <a href="/boats/<%= boat._id %>/motors/new">Add Motor</a>
            </div>
          </div>
        </div>
      </div>
      <% if (motors.length) { %>
        <% motors.forEach(function(motor) {%>
        <div class="row">
                <div class="col s12 m5">
                  <div class="card-panel teal">
                    <span class="card-title">Motor</span>
                    <span class="white-text"><%= motor.HP %></span>
                    <span class="white-text"><%= motor.make %></span>
                    <span class="white-text"><%= motor.cycle %></span>
                  </div>
                </div>
              </div>
          <% }); %>
          
        <%} else {%>
            <h4>There are no motors for this hull, add one above.</h4>
        <%}%>
    </body>
</html>